.fade-to-visible{ animation: fade_opacity 1s ease-in 0s; }
@keyframes fade_opacity {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.fade-transform{ animation: fade_scale 1s ease-in 0s; }
@keyframes fade_scale {
    0%{
        transform: scale(0.9);
    }
    100%{
        transform: scale(1);
    }
}

.up-and-down{ 
  animation-name: up_and_down_infinite;
  animation-duration: 1.5s;
  animation-delay: 0s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes up_and_down_infinite{
    from { transform: scale(1); }
    to { transform: scale(1.03); }
}