@font-face {
    font-family: 'Vodafone';
    src: url('/css/fonts/Vodafone/Vodafone.eot');
    src: local('/css/fonts/Vodafone/Vodafone'),
        url('Vodafone.eot?#iefix') format('embedded-opentype'),
        url('/css/fonts/Vodafone/Vodafone.woff2') format('woff2'),
        url('/css/fonts/Vodafone/Vodafone.woff') format('woff'),
        url('/css/fonts/Vodafone/Vodafone.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Vodafone';
    src: url('/css/fonts/Vodafone/Vodafone-Bold.eot');
    src: local('/css/fonts/Vodafone/Vodafone-Bold'),
        url('/css/fonts/Vodafone/Vodafone-Bold.eot?#iefix') format('embedded-opentype'),
        url('/css/fonts/Vodafone/Vodafone-Bold.woff2') format('woff2'),
        url('/css/fonts/Vodafone/Vodafone-Bold.woff') format('woff'),
        url('/css/fonts/Vodafone/Vodafone-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Vodafone';
    src: url('/css/fonts/Vodafone/Vodafone-Light.eot');
    src: local('/css/fonts/Vodafone/Vodafone-Light'),
        url('/css/fonts/Vodafone/Vodafone-Light.eot?#iefix') format('embedded-opentype'),
        url('/css/fonts/Vodafone/Vodafone-Light.woff2') format('woff2'),
        url('/css/fonts/Vodafone/Vodafone-Light.woff') format('woff'),
        url('/css/fonts/Vodafone/Vodafone-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Vodafone';
    src: url('/css/fonts/Vodafone/Vodafone-ExtraBold.eot');
    src: local('/css/fonts/Vodafone/Vodafone-ExtraBold'),
        url('/css/fonts/Vodafone/Vodafone-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('/css/fonts/Vodafone/Vodafone-ExtraBold.woff2') format('woff2'),
        url('/css/fonts/Vodafone/Vodafone-ExtraBold.woff') format('woff'),
        url('/css/fonts/Vodafone/Vodafone-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

:root {
    --vf-main-color: #E60000;
    --vf-main-color-hover: #B60000;
    --vf-background-light: #EBEBEB;
}
.center-screen {
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
    min-height: 100vh!important;
}
.vf-bg-light{ background-color: var(--vf-background-light)!important; }
.vf-button{
    color: #FFF!important;
    font-family: Vodafone!important;
    font-size: 18px!important;
    font-style: normal!important;
    font-weight: 400!important;
    line-height: normal!important;

    border-radius: 4px!important;
    background: var(--vf-main-color)!important;
    width: 160px;
    height: 40px;
    flex-shrink: 0;
}
.vf-button:hover{ background: var(--vf-main-color-hover)!important; }
.vf-button.play-now{ 
    width: 100%;
    height: 60px;
    color: #FFF!important;
    font-family: Vodafone!important;
    font-size: 24px!important;
    font-style: normal!important;
    font-weight: 400!important;
    line-height: normal!important;
}
.vf-button.start-now{ 
    width: 408px;
    height: 60px;
    color: #FFF!important;
    font-family: Vodafone!important;
    font-size: 26px!important;
    font-style: normal!important;
    font-weight: 400!important;
    line-height: normal!important;
}
.game-card{
    padding: 0!important;
    width: 468px;
    height: 468px!important;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
}

 /* the slides */
.slick-slide {
    margin: 0 27px;
}
/* the parent */
.slick-list {
    margin: 0 -27px;
}




@media only screen and (max-width: 768px) {
    .game-card{
        width: 100%!important;
    }
    .vf-button.start-now{
        width: 80%!important;
    }
}